{
  "plugins": [
    "tailwindcss",
    "html"
  ],
  "extends": [
    "plugin:tailwindcss/recommended"
  ],
  "rules": {
    "tailwindcss/classnames-order": "warn",
    "tailwindcss/no-custom-classname": "warn",
    "tailwindcss/no-contradicting-classname": "error"
  },
  "overrides": [
    {
      "files": ["a.js", "test.twig", "test.html"],
      "rules": {
        "tailwindcss/classnames-order": "error"
      }
    }
  ]
}
