{
  "plugins": [
    "tailwindcss"
  ],
  "extends": [
    "plugin:tailwindcss/recommended"
  ],
  "overrides": [
    {
      "files": ["test.html"],
      "parser": "@angular-eslint/template-parser",
      "parserOptions": {
        "ecmaVersion": 2019,
        "sourceType": "module",
        "ecmaFeatures": {
          "jsx": true
        }
      }
    }
  ]
}
